body {
	background-color: rgb(250,250,250);
	color: rgb(50,50,50);
	font-family: helvetica;
	font-size: small;
	margin: 0px;
}

#cabecera {
	height: 150px;
	background-color: rgb(30,200,200);
}
#contenedor {
	margin: 0px auto;
	height: auto;
	width: 960px;
	border: 1px solid rgb(220,220,220);
}

#contenido {
	height: 450px;
	width: 900px;
	overflow: auto;
	background-color: white;
}

#menu {
	float: left;
	height: 450px;
	width: 60px;
	background-color: rgb(230,230,230);
}

#footer {
	text-align: center;
}