<!-- 
  Plantilla con Mako para mako2.py

  Práctica 3 - DAI - Carlos Campos Fuentes
-->
<!DOCTYPE html>

<html>
  <head>
    <title>Mi Periodico</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/estilo.css">
  </head>
  <body>
  	<section id="cabecera">
      ${formu}
  	</section>
    <section id="contenedor">
    	<section id="menu">
    		
    	</section>
    	<section id="contenido">
    		
    	</section>
    </section>
    <section id="footer">
		© Carlos Campos - DAI UGR
	</section>	
  </body>
</html>