<!--
 Autor: Carlos Campos Fuentes
  		  http://ccamposfuentes.es
-->
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Mi Periodico</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header class="col-md-12">
		<div class="col-sm-6">
			<a href="/"><img src="../static/img/logo.png"></a>
		</div>
		<div class="col-sm-6">
			<form name="login" method="POST">
				% if message:
					${message}
				% endif

				% if form:
					${form.render()}
				% endif
			</form>
		</div>
	</header>
	<div class="container-fluid">
		<section class="row">
			<section id="col-left" class="col-md-2 col-xs-2">
				<h5> MENU </h5>
				<ul>
					<li><a href="/">Inicio</a></li>
					% if message:
						<li><a href="/datos">Datos</a></li>
						<li><a href="/pagina2">Página 2</a></li>
						<li><a href="/pagina3">Página 3</a></li>
						<li><a href="/pagina4">Página 4</a></li>
					% endif
				</ul>

				<h5> ULTIMAS PAG. VISITADAS </h5>
				% if ultimas:
					${ultimas}
				% endif
			</section>
			<section id="col-right" class="col-md-10 col-xs-10">
				% if titulo:
					<h1> ${titulo} </h1>
				% endif

				% if not message:
					<p> Para poder utilizar la aplicación debe de autentificarse </p>
				% endif

				% if content:
					${content}
				% endif
			</section>
		</section>
	</div>
	<footer class="col-md-12">
		<p> © <a href="http://ccamposfuentes.es">Carlos Campos</a> - DAI - UGR </p>
	</footer>

	<!-- Librerias -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>